/* Main */
.uGCjIb, .YisXab, .YisXab::after, .gN5aAe, .n4Bzf {
  background-color: #1b1b1b!important;
}
.GJuUre {
  background-color: transparent!important;
}
.Y596od, .nUvEGb, .Qizfvf, .eLFytf, .vUbGoc, .gb_Ta svg, .gb_lc svg, .GJuUre, .YHjolb, .aDUoef, .CqtWH {
  color: #ccc!important;
}
.zKT0yd, .bCPWJc, .SqxZMb, .k4Or1e, .ZEmz6b, .hcClrf {
  color: #8e8e8e!important;
}
.d1Z6ve, .lDDKpd .GJuUre {
  border-color: #333!important;
}
.y4CbTd {
  filter: invert(.8) brightness(1.25)!important;
}
.XKNPOc, .ZgMovb {
  filter: invert(.92) grayscale(1)!important;
}
/* Search */
.dVHaXd {
  fill: #ccc!important;
}
.R4HkWb .orgUxc {
  fill: #8e8e8e!important;
}
.obNJBf.wH28vf>.lEclge {
  color: #ccc!important;
}
.obNJBf.wH28vf {
  color: #8e8e8e!important;
}
.yUnLie .HPN91c {
  background-color: #121212!important;
}
.yUnLie .ifyeLb {
  background-color: #1b1b1b!important;
}
.WjwBXd {
  background-color: #333!important;
}
.SUBPBe {
  fill: #000!important;
}
/* Albums */
.rtIMgb.WjVZdb {
  background-color: #333!important;
}
.mIszjc .up0e5, .UzoGpd .up0e5, .AR12ke .up0e5, .qyRYS .up0e5, .nHTGHe .up0e5, .KfmeTb .up0e5 {
  background-color: #ddd!important;
}
.HrGXnb {
  background-color: #333;
  color: #ccc;
}
.pbgrIf {
    background: #ffffff4d!important;
}
.JUQOtc > path:nth-of-type(2) {
  fill: #444!important;
}
.qjYJaf > .JUQOtc > circle:nth-of-type(3), .mKslXd {
  fill: #ccc!important;
}
.NLiuKe, .WLLPqb, .VwKkye .Ax4B8, .VwKkye .yNVtPc, .VwKkye .MkjOTb, .VOEIyf .jBmls, .qYQJEe, .WLLPqb, .Fmedib, .biyFUd, .Ax4B8 {
  background-color: #1b1b1b!important;
}
.WLLPqb, .VwKkye .Ax4B8, .VwKkye .yNVtPc, .VwKkye .MkjOTb, .cV5sed, .Fmedib, .biyFUd, .q20Fs, .uzZVYe .ZAGvjd, .qJ3sed, .sRtKQc {
  color: #ccc!important;
}
.bArwR, .CMRsVd, .FtiXNe, .FJuSM, .egWY1b, .LzExud, .vVyGvc {
  color: #8e8e8e!important;
}
.lDDKpd .hi7xwe .Fmedib::after, .lDDKpd .hi7xwe .biyFUd::after, .VOEIyf .jBmls {
  border-color: rgba(255, 255, 255, .06)!important;
}
.oKubKe[aria-selected="true"] {
  background-color: #333!important;
}
.lEnAO .Vm8UPe:nth-child(2) {
  border-color: #bbb!important;
}
.uzZVYe {
  border-color: #333!important;
}
.Vm8UPe .jBOzbf:nth-child(2) {
  border-color: #444!important;
}
.PcxEPe .o11zad.QuQCEd {
    background-color: #ddd!important;
}
.jBOzbf, .QuQCEd {
  filter: invert(1)!important;
}
.yUnLie .QuQCEd {
  filter: invert(0)!important;
}
.SUBPBe {
    fill: #fff!important;
}
/* Settings */
.w1zVpf {
  background-color: #252525!important;
}
.IGdgBf, .UtdETd {
  color: #ccc!important;
}
.X0f2Ie, .QfyHQc {
  border-color: #333!important;
}
/* Photobook */
.fJdjDd {
    background-color: #00000080;
}
.z80M1.qs41qe>.aBBjbd {
    background-image: radial-gradient(circle farthest-side,#444,#333 80%,rgba(0, 0, 0, 0) 100%);
}
.fL7mK, .uzZVYe .ZAGvjd, .eIXhfb {
  background-color: #1b1b1b!important;
}
.rPYW7c, .vOSR6b {
  background-color: #212121!important;
}
.xaNQyd.kOygNb .FIroPe, .xaNQyd.QWDSNc .FIroPe, .xaNQyd, .DDjkec, .ux71Ae, .EloWjf, .YD532b, .ux71Ae .zgKCg, .RDcEuc {
  background-color: #252525!important;
}
.fT2itf, .CJS7t {
  background-color: #333!important;
}
.tRTVSe, .aizgoc, .URCQde, .xaNQyd.kOygNb .FIroPe, .xaNQyd.QWDSNc .FIroPe, .GYJCSd, .hAt1wf, .cgzas, .ycKFmf, .FfYVOe, .sd2Ow, .aP5QJc, .lY31xf, .sWtJyb {
  color: #ccc!important;
}
.NYjpld, .MrNxgf, .B4aYDd, .jMchje, .b25S2, .yfPIJb, .c74zIe, .p4Vk3b {
  color: #8e8e8e!important;
}
.saCYpf {
  border-color: #333!important;
}
.ZCdsle .JUQOtc {
    background-color: #000!important;
}
.IobPkb {
  border-color: #000!important;
}
.XpJyv .JUQOtc, .URCQde .JUQOtc, .k5gjFc .JUQOtc {
  fill: #ccc!important;
}
.O0WRkf.RDPZE {
  color: #ccc!important;
  fill: #ccc!important;
}
.eXETU {
  color: #333!important;
  fill: #333!important;
}
.eXETU:hover {
  color: #000!important;
  fill: #000!important;
}
/* Sidebar */
.wDSX5e {
  background-color: #1b1b1b!important;
}
.w8iOwc {
  color: #ccc!important;
}
.wDSX5e .DOAbib:not(.Mph3Hc):hover, .wDSX5e .ixImeb {
    background-color: #333!important;
}
.R4TmW {
  border-color: #333!important;
}
/* Popups */
.J9Ecvd, .g3VIld, .uj0V6, .YmYVQb, .JPdR6b, .Q77Pt, .tn9hcb, .uFjcbe, .MJbBo, .VXm1O, .oIsNpe, .rfwMZb {
  background-color: #1b1b1b!important;
}
.hUsHhf, .hi7xwe .I6u9xf {
  background-color: #252525!important;
}
.Gsdthc, .QYqedb, .z80M1, .WUbige, .R9U8ab, .AJM7gb, .UE0Rp, .z7JNmd, .mfQCMe, .QehGzf, .Y95CAf, .WBfbmd, .nzRLqf, .AhOMTc, .y3l11d, .ajkHac, .eSqCae {
  color: #e8e8e8!important;
}
.xMZSRb, .CgsFie, .DBqj8c, .nNzTX, .wiOkb, .oBMhZb, .nAfFgf, .UV4Xae, .HNIQU .KHxj8b, .LGbbwe .fROdt, .wjDi1d, .NW8xMc {
  color: #8e8e8e!important;
}
.fKz7Od, .Y0p3Ue, .F6wuZ, .pUgVcb .ry3kXd .ynCJHe, .ynCJHe.pGuBYc, .HCTovb {
  fill: #ccc!important;
}
.PCdOIb {
  filter: invert(.9)!important;
}
.z80M1.FwR7Pc, .Kd04rd:hover, .IBP7ye, .UABzH:not(.sMVRZe) .Grpoof:hover>.ZFr60d, .UABzH.sMVRZe:before, .UABzH.sMVRZe:after, .uOat3d .iO7J1d:focus, .iO7J1d:hover, .AhOMTc, .aHPraf {
  background-color: #333!important;
}
.M1aIec {
    border-bottom-color: #1b1b1b!important;
}
.uFjcbe, .oIsNpe, .yPBite, .hi7xwe .I6u9xf::before {
  border-color: #333!important;
}
.e2CuFe {
    border-color: rgb(122, 122, 122) transparent!important;
}
/* Loading */
.Cv8Rjc {
    background: transparent!important;
}
.vI9sif {
    background: rgba(0, 0, 0, 0.8)!important;
}
.O1Wnce {
    background-color: #252525;
    background-image: linear-gradient(90deg,#333 0,transparent 0,transparent 294px,#333 294px,#333 ),linear-gradient(0deg,#333 0,transparent 0,transparent 220px,#333 220px,#333);
}
/* Remove photobook banner */
.nCD66e {
  display: none!important;
}
/* Activity log */
.zEszRd {
  background-color: #252525!important;
}
/*** Remnant ***/
.xA0gfb, .Aul2T .cI2tlc .ZAGvjd, .fl9QFd, .rWyLGb, .Xedy9e, .SHkfld {
  color: #e8e8e8!important;
}
.EIug8e, .RwVyJb, .HiceN, .KmTyub, .P72lEd, .USUr0d, .C96I0d {
  color: #8e8e8e!important;
}
.QtDoYb, .FBoeXc.vOSR6b, .RJMJ9b {
    background: #252525!important;
}
.PpML1d, .xoqcGf.DKHcHb .Aul2T, .B6Rt6d, .Aul2T, .ZMOaid.uGCjIb {
    background: #1b1b1b!important;
}
.AAF8rf {
    filter: invert(1)!important;
}
.DOAbib .xMAzlb {
    color: rgba(255, 255, 255, 0.44)!important;
  font-size: 11px!important;
}
.DOAbib .JUQOtc, .G6iPcb .JUQOtc, .ZSB8G, .UcZrVc, .Afhsje, .UcZrVc .w9e2Mc, .UcZrVc .OLQnJe, .C96I0d .JUQOtc {
    fill: rgba(255, 255, 255, 0.54)!important;
}
.UcZrVc .Qfrpne {
    stroke: rgba(255, 255, 255, 0.54)!important;
}
.ixImeb .JUQOtc, .ixImeb .xMAzlb {
    fill: #4285f4!important;
    color: #4285f4!important;
}
.cJzOGc, .cJzOGc.Fuybue:visited {
    color: #30b35a!important;
}