/* Native */
.p9lUpf, .gb_be, body, .YqtBEc, .BWsMTe, .BYXlo, .gb_9d, .gb_ce {
  background-color: #1b1b1b!important;
}
.DyOaYd, .HLI7qf, .FpmPAb, .jZ0DTb, .EmURbc, .gssb_e, .jRJqje, .gb_Xa:not(.gb_Za) .gb_Hd, .gb_de {
  background-color: #252525!important;
}
.ncFHed, .ncFHed .MocG8c.KKjvXb, .z80M1.FwR7Pc, .VOEIyf .jBmls, .oKubKe[aria-selected="true"], .I2LGc:hover, .xuBVOe, .gssb_i, .CCRNT, .VKy0Ic[aria-selected="true"], .gHQcAb, .gb_Qe.gb_8e {
  background-color: #333!important;
}
.ncFHed .MocG8c.KKjvXb, .z80M1.FwR7Pc, .oKubKe[aria-selected="true"], .VKy0Ic[aria-selected="true"] {
  color: #fff!important;
  filter: invert(.2)!important;
}
.j3nyw, .uOjlA, .PNenzf, .O0WRkf.RDPZE, .C0oVfc .RveJvd, .aStPEd, .ThdJC, .HLI7qf .c7fp5b, .MocG8c, .z80M1, .hGcgEd, .DN1TJ, .gb_ge.gb_le, .KaL5Wc, .QA0Szd-xl07Ob .uyYuVb, .C188rb, .Dna1ee, .CflnFb, .t3Qf0e, .Cd9hpd .NlWrkb, .gb_ge, .gb_Pe.gb_6e .gb_7e, .gPMPbe, .gb_ie.gb_ne, .MmhHI.N4XV7d, .gb_ie, .gb_9e, .g3dbUc.smECzc, .gb_he.gb_me, .gb_Ta svg, .gb_lc svg {
  color: #ccc!important;
}
.srd2n, .s9eZvd, .PbnGhe, .BYXlo {
  color: #8e8e8e!important;
}
.PqAscf, .uJ4w1, .mrslJ, .Zlotdb+.FYEgid .XQINac, .T8CF3c, .hEtGGf, .qZvm2d-clz4Ic, body[data-viewfamily=EVENT] .TOTjfb, body[data-viewfamily=SEARCH] .TOTjfb, .GrK4Mb, .hVDHke, .l7VQxb, .qNixLe, .lzc0vb, .xuBVOe, .gssb_e, .cBs4Te {
  border-color: #333!important;
}
.z80M1.N2RpBe::before {
  border-right-color: #ccc!important;
  border-bottom-color: #ccc!important;
}
.YvjgZe, .G5v83e, .SU7tYb, .BWsMTe, .qgbr2b, .qb8AF, .GENA3c, .H7IzGb, .eADW5d, .mmsF1c:after {
  border-color: #555!important;
}
.v83gc, .JtukPc, .BvQsje, .Uit9Se, .NBzXR, .eh5oYe .GFiTfe .uj9dId, .B8NVZb {
    background-color: #3e3e3e!important;
}
.uSx8Od, .gsoi_0, .asor_o {
  filter: invert(.9)!important;
}
.gb_Xa svg, .gb_oc svg {
    color: #fff!important;
}
.LokBre .GrK4Mb, .LokBre .hVDHke, .LokBre .l7VQxb, .LokBre .zP0T0b, .iLpjNc {
    background-color: #63633f!important;
}
.gb_Pe.gb_6e {
  background-color: #373737!important;
}
.gssb_m {
    color: #ccc;
    background: #252525;
}
.gssb_l {
  background: #333!important;
}
.YvjgZe.F262Ye:after {
    background-color: rgba(0, 188, 212, 0.02);
}
/* Gmail extension */
.q1j8lf, .GENA3c, .Gk2izd, .g3VIld {
  background: #3e3e3e!important;
}
.W0m3G .r4nke, .G5v83e/*, .Kb2sf*/, .dKHeGf, .AKhndf, .IIB0tc .ULpymb, .JPdR6b {
    background-color: #252525!important;
}
.Erb9le:not(.RDPZE) .qmMNRc.y7OZL {
  background-color: #1b1b1b;
}
.uHMk6b {
  border-color: #252525!important;
}
.Gk2izd {
  border-right: none!important;
  border-bottom-color: #333!important;
}
.cBs4Te.ZmuLbd, .zIq8Wc.JhZbF {
  border-color: #333!important;
}
.iMprOe, .whsOnd, .Mfdus .iuaqab, .qmMNRc, .n1rxgc, .WpDZC {
    color: #a6a6a6!important;
}
.pCoqfc, .MANBAf, .NI2kfb, .kap9Ye {
  color: #ccc!important;
}
.rF3YF {
    color: rgba(255, 255, 255, 0.54)!important;
    fill: rgba(255, 255, 255, 0.54)!important;
}
.rL6ose {
  filter: invert(.9)!important;
}
/* Settings */
.xpYref, .WefNYe:before {
  background-color: #1b1b1b!important;
}
.xWId8e {
    background-color: #252525!important;
}
.mfcZZc+.mfcZZc {
  border-color: #333!important;
}
.MDfQ7 {
    background-color: #252525!important;
}
.O1gyfd {
  color: #ccc!important;
}
.HLAc8, .oj6B2e {
  color: #8e8e8e!important;
}
.jZ0DTb.kM7Sgc .ry3kXd .LMgvRb.KKjvXb, .Kb2sf {
    background: rgba(0,0,0,.2)!important;
}
.uVccjd {
    border-color: #777;
}
/*** View ***/
/* Schedule */
.L1Ysrb {
  border-color: #333!important;
}
.taTyDe {
  color: #8e8e8e!important;
}
/* Month */
.akJTWe, .tNDBE {
  background-color: #252525!important;
}
.t8qpF, .akJTWe, .XnnJrc.Wyo4Qe, .PhLhOd, .QIadxc {
  border-color: #555!important;
}
.YK7obe {
  color: #ccc!important;
}
.ef2wWc, .ecKr0 {
    background-color: #23252b!important;
}
.eADW5d {
  border-right: none!important;
}
/* Year */
.QJLQUd {
  color: #ccc!important;
}
/* Scrollbar */
::-webkit-scrollbar-thumb {
    background: #444;
}
/* Docs fix */
.tVqNxd {
    background-color: #333;
}
.cOoA8d {
  border-color: #333!important;
}
.jgtV4b {
  color: #ccc!important;
}
/* Companion sidebar */
.Kk7lMc-DWWcKd-OomVLb-haAclf {
  background-color: #252525!important;
  border-color: #333!important;
}
.ONKrsd-jrnDlb-LgbsSe-ZmdkE .ONKrsd-jrnDlb-Bz112c-haAclf, .ONKrsd-jrnDlb-LgbsSe-FNFY6c .ONKrsd-jrnDlb-Bz112c-haAclf {
    background-color: #333;
}
.eU5T0b {
  background-color: #252525!important;
  color: #ccc!important;
}
/* Loading tasks */
.Kk7lMc-ae3xF-tJHJj, .Kk7lMc-ae3xF-bN97Pc-LYNcwc {
    background-color: #1b1b1b!important;
}
.Kk7lMc-ae3xF-tJHJj {
  border-color: #333!important;
}
.Kk7lMc-ae3xF-tJHJj-CZjX4e-AHe6Kc .Kk7lMc-ae3xF-tJHJj-OAU7Vd-Bz112c {
    fill: #fff!important;
}